* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

.App {
  height: 100vh;
  background-color: black;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.app__videos {
  position: relative;
  height: 95vh;
  border-radius: 20px;
  overflow: scroll;
  width: 90%;
  max-width: 500px;
  scroll-snap-type: y mandatory;

  margin: 0 auto;
}

/* Hide scroll bar for chrome,safari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* hide scroll bar for IE ,Edge and Firfox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
